asgiref==3.8.1
Babel==2.14.0
brotli==1.1.0
ConfigParser==6.0.1
Cython==3.0.10
contextlib2==21.6.0
cryptography==42.0.5
cx_Oracle==8.3.0
docutils==0.20.1
email_validator==2.1.1
filelock==3.13.3
flask_babel==4.0.0
flask_babelex==0.9.4
greenlet==3.0.3
HTMLParser==0.0.2
importlib_metadata==7.1.0
ipython==8.12.3
ipywidgets==8.1.2
jnius==1.1.0
keyring==25.1.0
mx==3.2
ordereddict==1.1
pgdb==0.0.11
Pillow==10.3.0
protobuf==5.26.1
pyOpenSSL==24.1.0
pysqlcipher3==1.2.0
pysqlite==2.8.3
pytest==8.1.1
pytest_xdist==3.5.0
python-dotenv==1.0.1
railroad==0.5.0
redis==5.0.3
simplejson==3.19.2
Sphinx==7.2.6
Sybase==0.35
thread==1.1.1
tornado==6.4
urllib3_secure_extra==0.1.0
watchdog==4.0.0
xmlrpclib==1.0.1
